.each {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.uvu {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.right {
    margin-left: 20px;
}